<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 ">Bienvenue sur ton profil <%= current_user.firstname %> !</h1>
  </div>
</div>
<div class="container">
  <div id="product-show-part">
    <div class="event">
      <div class="card mb-3">
        <div class="left-part-product">
          <div class="img-event">
            <%if @user.avatar.attached? %>
              <h1 class="text-center"> Votre Avatar</h1>
              <%= image_tag @user.avatar, width:"10%", :class => "border" %>
            <%end%>
          </div>
        </div>
        <div class="right-part-product">
          <h2 class="card-header">Prénom : <%=@user.firstname %></h2>
          <div class="card-body">
            <h4 class="card-title text-center">Nom : <%= @user.lastname %></h4>
          </div>
          <div class="card-body description-part">
            <p class="card-text"><span class="element-present">Email : </span><%= @user.email %></p>
          </div>
          <div class="card-footer text-muted">
            <p>Compte créé le <%= @user.created_at %></p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to 'Editer mon profil', edit_user_registration_path, class:"btn btn-primary btn-outline btn-lg" %>
      </div>

    </br>
    <div>
      <div class="table ">
        <table class="table">
          <thead class="table-header h4">
            <tr><th class="h3"><strong>Mon historique d'achats :</strong></th></tr>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Prix (€)</th>
              <th scope="col">Quantité</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% @products_title.length.times do |i| %>
              <tr>
                <th><strong><%= @products_title[i] %></strong></th>
                <th><%= @products_price[i] %></th>
                <th><%=@products_quantity[i]%></th>
                <th><%= @products_price[i] * @products_quantity[i]%></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>
</div>
