<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Profil</h1>
  </div>
</div>
<div class="container">
  <div id="product-show-part">
    <div class="event">
      <div class="card mb-3">
        <div class="left-part-product">
          <div class="img-event">
            <%if @user.avatar.attached? %>
              <h1 class="text-center"> Votre Avatar</h1>
              <%= image_tag @user.avatar, width:"10%", :class => "border" %>
            <%end%>
          </div>
        </div>
        <div class="right-part-product">
          <h2 class="card-header">Prénom : <%=@user.firstname %></h2>
          <div class="card-body">
            <h4 class="card-title text-center">Nom : <%= @user.lastname %></h4>
          </div>
          <div class="card-body description-part">
            <p class="card-text"><span class="element-present">Email : </span><%= @user.email %></p>
          </div>
          <div class="card-footer text-muted">
            <p>Compte créé le <%= @user.created_at %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>