<% if is_cart_empty(@cart.total) %>
  <h2>T'es con ou quoi, y'a pas de produit dans ton panier, tu veux payer quoi ?! Ouais je suis énervé ouais...</h2> 
<% else %>
<div class="container">
  <div class="jumbotron jumbotron-fluid ">
    <div>
      <ul id="listing-product">
        <h2>LISTE DES PRODUITS :</h2>
          <% @cart.line_items.each do |item|%>
          <div class="product-<%= item.id %> list-group">
            <li class="list-group-item list-group-item-action list-group-item-light">
              <div class="product-short-grp">
                <%= item.product.title%> (<span><%= item.product.price %></span> € x <span class="product-quantity"><%= item.quantity%></span>) : <span class="product-all-price"><%=item.total%></span> €
              </div>
            </li>
          </div>
          <% end %> 
      </ul>
    </div>
    <div class="text-center">
      <%= form_tag orders_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Montant : <%= @amount %> €</span>
            </label>
          </article>
        
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="le montant de votre a-chat :"
                  data-amount="<%= @amount * 100 %>"
                  data-currency="eur"
                  data-locale="auto"></script>
      <% end %>
    </div>
  </div>
</div>
<% end %>