<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart.user_id %>
</p>

<ul id="listing-product">
  <strong><U>Liste des produits:</U></strong>
  <% @cart.line_items.each do |item|%>
  <div class="product-<%= item.id %>">
    <li><%= item.product.title%> (x <span class="product-quantity"><%= item.quantity%></span>) : <span class="product-all-price"><%=item.total%></span> €</li>
    <% if item.quantity > 1 then %>
      <%= link_to "Supprimer x1", line_item_path(item.id), method: :put, class: "btn btn-danger delete-by-one", remote: true %>
    <% end %>
    <%= link_to "Supprimer tout", line_item_path(item.id), method: :delete, class: "btn btn-danger", remote: true %>
  </div>
  <% end %> 
</ul>

<p class="price">
  <strong>Total:</strong>
  <span class="amount-price"><%= @cart.total %></span> €
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
