<div id="fh5co-product">
<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>

<ul id="listing-product">
<h2>LISTE DES PRODUITS :</h2>
  <% @cart.line_items.each do |item|%>
  <div class="product-<%= item.id %> list-group">
    <li class="list-group-item list-group-item-action list-group-item-light">
      <div class="product-short-grp">
        <%= item.product.title%> (<span><%= item.product.price %></span> € x <span class="product-quantity"><%= item.quantity%></span>) : <span class="product-all-price"><%=item.total%></span> €
      </div>
      <div class="btn-options-grp">
        <% if item.quantity > 1 then %>
          <%= link_to "Supprimer x1", line_item_path(item.id), method: :put, class: "btn btn-danger delete-by-one", remote: true %>
        <% end %>
        <%= link_to "Supprimer tout", line_item_path(item.id), method: :delete, class: "btn btn-danger", remote: true %>
      </div>
    </li>
  </div>
  <% end %> 
</ul>
</div>

<p class="price">
  <strong>Total:</strong>
  <span class="amount-price"><%= @cart.total %></span> €
</p>

<%= link_to "Commander", orders_new_path(@cart), class: "btn btn-primary" %>

<%= link_to 'Modifier', edit_cart_path(@cart) %> |
<%= link_to 'Retour', products_path %>

</div>
</div>