<%= form_with(model: adress, local: true) do |form| %>
  <% if adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adress.errors.count, "error") %> prohibited this adress from being saved:</h2>

      <ul>
      <% adress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.text_field :street_number, required: true %>
  </div>

  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, required: true %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, required: true %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
