<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @adress.user %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @adress.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @adress.street_name %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @adress.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @adress.country %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
