<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-group ">
    <div>
      <div class="col-md-4">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control', required: true %>
      </div>
      <div class="col-md-6">
        <%= form.label :image %><br />
        <%= form.file_field :image, class: 'form-control', accept: "image/png, image/gif, image/jpeg" %>
      </div>
      <div class="col-md-8">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control', required: true, min:25, max:5000 %>
      </div>
      <div class="col-md-6">
        <%= form.label :price %>
        <%= form.number_field :price, class: 'form-control', required: true, min:1 %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit "Ajouter le matou", class: 'btn btn-success' %>
      </div>
    </div> 
  </div> 
<% end %>
