
<div class="hero-image" style="height: 600px;">
  <div class="hero-text">
    <% if user_signed_in? %>
      <h1 class="color-hero"> Bienvenue <%=current_user.firstname%> !</h1>
      <h4 class="white">C'est ici que vous ferez les meilleurs A-Chat !</h4>
    <%else%>
    <h1 class="color-hero"> Bienvenue visiteur !</h1>
    <h4 class="white">Si vous vous connectez, c'est ici que vous ferez les meilleurs A-Chat !</h4>
    <% end %>
  </div>
</div> 
<hr>
<div class="row padding-side">
  <% @products.each do |product| %>
    <div class="col-6 col-md-4 text-center animate-box">
      <div class="product">
        <div class="padding-bot">
          <%if product.image.attached? %>
            <%= link_to product do %>
              <%= image_tag product.image, width:"40%", style: "padding: 1em" %>
            <% end %>
          <%end%>
        </div>     
        <div class="desc">
          <h3><%= product.title %></h3>
          <span class="price"><%= product.price %> € </span>
        </div>
        <div class="inner">
          <p>
            <% if user_signed_in? %>
              <%= link_to line_items_path(product_id: product.id), method: 'POST' do %>
                <i class="fas fa-cart-arrow-down fa-2x" style="margin: 0.3em;"></i>
              <% end %>
            <%else%>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-cart-arrow-down fa-2x" style="margin: 0.3em;"></i>
              <%end%>
            <%end%>
            <%= link_to edit_product_path(product) do %>
              <i class="fas fa-pen fa-2x" style="margin: 0.3em;"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="text-center">
  <%= link_to 'Créer un produit', new_product_path, :class => "btn btn-success btn-lg" %>
</div>
<br><br>

