  <div class="hero-image" style="height: 600px;">
    <div class="hero-text">
      <% if user_signed_in? %>
        <h1 class="color-hero"> Bienvenue sur E-Cat <%=current_user.firstname%> !</h1>
      <%else%>
      <h1 class="color-hero"> Bienvenue sur E-Cat !</h1>
      <% end %>
      <p>C'est ici que vous ferez les meilleurs A-Chat !</p>
    </div>
  </div> 

  
  <div class="row padding-side">

    <hr>
    <div class="text-center">
     <p id="notice"><%= notice %></p>
      <% if current_user %>
        <h5> Connecté en tant que <u><%= current_user.firstname %></u></h5>
      <%else%>
        <h5> Vous n'etes <u><strong>pas</strong></u> connecté</h5>
      <%end%>
      </div>
    <hr>
    <% @products.each do |product| %>
      <div class="col-6 col-md-4 text-center animate-box">
        <div class="product">
          <div class="padding-bot">
            <%if product.image.attached? %>
              <%= image_tag product.image, width:"40%", style: "padding: 1em" %>
            <%end%>
          </div>     
          <div class="desc">
            <h3><a href="single.html"><%= product.title %></a></h3>
            <span class="price"><%= product.price %> € </span>
          </div>
          <div class="inner">
            <p>
              <%= link_to product do %>
                <i class="far fa-eye fa-2x" style="margin: 0.3em;"></i>
              <% end %>

              <% if user_signed_in? %>
                <%= link_to line_items_path(product_id: product.id), method: 'POST' do %>
                  <i class="fas fa-cart-arrow-down fa-2x" style="margin: 0.3em;"></i>
                <% end %>
              <%else%>
                <%= link_to new_user_session_path do %>
                  <i class="fas fa-cart-arrow-down fa-2x" style="margin: 0.3em;"></i>
                <%end%>
              <%end%>

              <%= link_to edit_product_path(product) do %>
                <i class="fas fa-pen fa-2x" style="margin: 0.3em;"></i>
              <% end %>
              
              <%= link_to product, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer ce produit ?' } do %>
                <i class="fas fa-times fa-2x" style="margin: 0.3em;"></i>
              <% end %>  
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'Créer un produit', new_product_path %>
