<nav class="navbar navbar-expand-lg navbar-success bg-success fh5co-nav" >
<div class="row">
    
      <div class="col-md-3 col-xs-4" >
        <div class="fh5co-logo"> 
          <%= link_to " E-cat", root_path , class:"fas fa-cat fa-4x", style: "color: khaki;" %>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 menu-1 p-l-nav" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to " Vendre une image de chat", new_product_path, class: "nav-link fas fa-paw fa-4x", style: "color: khaki;" %>
            </li>
            <li class="nav-item">
              <%= link_to " Panier", cart_path(Cart.find_or_create_by(user_id: current_user.id)), class: "nav-link fas fa-shopping-cart fa-4x", style: "color: khaki;" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="btn" style="padding: 0em;">
        <div class="dropdown">
          <a class="nav-link btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user %>
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, :class => "nav-avatar" %>
              <% else %>
                <%= image_tag("user_avatar_empty.jpg", :class => "nav-avatar") %>
              <% end %>
            <%else%>
              <span class="fas fa-user fa-4x" style="color: khaki;"></span>
            <%end%>
          </a> 
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% if current_user %>
              <%= link_to 'Deconnexion', destroy_user_session_path, :class => "btn btn-danger btn-outline btn-lg" %>
              <br>
              <div class="m-l-profile">
                <%= link_to 'Profile', user_path(current_user), :class => "btn btn-primary btn-outline btn-lg" %>
              </div>
            <%else%>
              <%= link_to 'Connexion', new_user_session_path, :class => "btn btn-success btn-outline btn-lg" %> 
              <br>
              <div class="m-l">
                <%= link_to 'Inscription', new_user_registration_path, :class => "btn btn-info btn-outline btn-lg" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
  </div>
</nav>



